<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <table *ngIf="!!found" class="table table-striped">
        <thead>
        <tr>
          <th>
            Artist
          </th>
          <th>
            Title
          </th>
          <th>
            Torrent
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of found | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{song.songEntity.artist}}</td>
          <td>{{song.songEntity.title}}</td>
          <td>
            <ul>
              <li *ngFor="let link of song.links">
                {{link.torrent.torrentId}}: {{link.torrentSong.songName}}
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </td>
        </tr>
        </tfoot>
      </table>


    </div>
  </div>
</div>
