<div class="row">
  <div class="col-xs-6">
    <h4>Songs</h4>
    <div *ngIf="!!resolvableSongs" class="list-group">
      <a *ngFor="let rs of resolvableSongs | paginate: { itemsPerPage: 15, currentPage: p, id: 'songs' }"
         href="#" class="list-group-item" [class.danger]="rs.resolveFailed" [class.active]="rs.resolve" (click)="select(rs)">
        <span>{{rs.artistName}}: {{rs.title}}</span>
        <span *ngIf="!!rs.numSources" class="badge badge-info">{{rs.numSources}}</span>
      </a>
    </div>
    <div>
      <pagination-controls (pageChange)="p = $event" id="songs"></pagination-controls>
    </div>
    <button class="btn btn-default" (click)="selectAllForResolve()">Select all</button>
    <button class="btn btn-default" (click)="unselectAllForResolve()">Unselect all</button>
    <button class="btn btn-primary" (click)="resolveSources()">Search</button>
  </div>
</div>
