<header>
  <nav>
    <a class="btn" [routerLink]="['']">Home</a>

    <a class="btn" routerLinkActive="active" [routerLink]="['artist-indexer']">Index</a>
    <a class="btn" routerLinkActive="active" [routerLink]="['sources-resolver']">Search</a>
    <a class="btn" routerLinkActive="active" [routerLink]="['songs-downloader']">Download</a>
    <a class="btn" routerLinkActive="active" [routerLink]="['playlist-builder']">Output</a>
    <a class="btn" routerLinkActive="active" [routerLink]="['progress']">Progress</a>
  </nav>
</header>
<main>
  <!--<h1>Hello from {{title}}!</h1>-->

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <!--<img src="/img/angular.png">-->

  <router-outlet></router-outlet>
</main>
<footer>
  <a [href]="url">Webpack Angular 2 Starter</a>
</footer>
