<div class="row">
  <div class="col-xs-12">
    <table *ngIf="!!progressInfo" class="table table-bordered">
      <tr>
        <th>Task</th>
        <th>Sub tasks</th>
        <th>Messages</th>
      </tr>
      <tr *ngFor="let taskProgress of progressInfo.taskProgresses">
        <td>
          {{taskProgress.taskName}}
        </td>
        <td>
          <ul>
            <li *ngFor="let key of getSubTaskIds(taskProgress)">
              <span>{{taskProgress.subTasks[key].name}}</span>
              <ng-container *ngIf="!!taskProgress.subTasks[key].progress">
                <span>{{(taskProgress.subTasks[key].progress*100).toFixed(2)}}%</span>
              </ng-container>
            </li>
          </ul>
        </td>
        <td>
          <ng-container *ngIf="taskProgress.lastMessage">
            {{taskProgress.lastMessage}}
          </ng-container>
        </td>
      </tr>
    </table>
    <ng-container *ngIf="!!progressInfo">
      <span>{{progressInfo.numQueued}} tasks in queue</span>
    </ng-container>
  </div>
</div>
